a {
  text-decoration: none;
  color: white;
}

/* movie card styles */


.movie-card {
  width: 20vw;
  margin-top: 3rem;
  /* border: 1px solid lightgray; */
  /* border-bottom: 3px solid lightgray; */
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.movie-card > img {
  width: 100%;
  /* height: 70vh; */
  object-fit: cover;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.card-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.delete-button {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

/* title rating styles */

.title-rating{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding-right: 1rem;
  padding-left: 1rem; */
}

.title-rating > h3,p {
  margin-top: 0.5rem;
}

.title-rating > h3 {
  font-weight: bold;
}

/* counter and like dislike styles */

/* .like-dislike {
  background-color: white;
  border: 0;
  border-bottom: 1px solid grey;
  padding-bottom: 0.3rem;
} */

.counter-like-dislike {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

/* home page movie description */

.movie-description {
  color: darkslategrey;
  margin-top: 0;
  font-size: 0.9rem;
}

/* movie list styles */

.movie-list {
  margin: 4rem 4rem 0rem 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 2rem;
}

/* main page header styles */

.movies-header {
  color: white;
  background-color: black;
  height: 15vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding-left: 4rem;
  padding-right: 4.5rem;
}

.header-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
} 

.movies-header > h1 {
  margin-top: 0;
  padding-top: 1rem;;
}


/* add movies page styles */

.search-area {
  margin: 1rem 4rem 2rem 22rem;
  
  width: 40vw;
  /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
  padding: 3rem 2rem 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #ccc;
}

#standard-basic {
  width: 35vw;
}

.form-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem; 
  margin-left: 1rem;
}

.search-area > form > button {
  margin-top: 2rem;
  /* width: 10vw;
  height: 7vh; */
  margin-left: 12rem;
}

#movie-submit-button {
  color: inherit;
}

/* responsiveness styles */

@media (max-width: 500px) {
  .movie-list {
    flex-direction: column;
  }

  .movie-card {
    width: 60vw;
  }
}

/* movie details page */

.movie-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.movie-rating > h2,p {
  margin-bottom: 0.5rem;
}

.movie-details {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 2rem;
}

.movie-details-container {
  margin-top: 3.8rem;
}

#movie-details-description {
  padding-left: 6rem;
  padding-right: 6rem;
  border-top: 1px solid grey;
  padding-top: 1rem;
  color: darkslategrey;
}


/* appbar styles */

.appbar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
}

.appbar-header > h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.toolbar-header {
  margin-left: 2rem;
}

/* styles for tic tac toe game */

.tic-tac-toe-game {
  padding-top: 5rem;
  padding-left: 20rem;
  padding-bottom: 5rem;
}

.game-box {
  border: 0.5rem solid #1976d2;
  font-size: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 25vh;
}

/* game grid styles */


.game-box:nth-child(1), .game-box:nth-child(2), .game-box:nth-child(3) {
  border-top: 0;
}


.game-box:nth-child(7), .game-box:nth-child(8), .game-box:nth-child(9) {
  border-bottom: 0;
}

.game-box:nth-child(7), .game-box:nth-child(4), .game-box:nth-child(1) {
  border-left: 0;
}

.game-box:nth-child(6), .game-box:nth-child(9), .game-box:nth-child(3) {
  border-right: 0;
}

/* gamebox hover styles */

.game-box:hover {
  cursor: pointer;
  background-color: rgba(8, 8, 8, 0.074);
}

.board {
  max-width: 45vw; 
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 45vw; 
}

.restart-button {
  background-color: #1976d2;
  color: white;
  font-size: 1.5rem;
  border: 0;
  margin-top: 3rem; 
  height: 10vh;
  border-radius: 10rem;
  width: 12vw;
  margin-left: 14rem;
}

.restart-button:hover {
  background-color: #045cb4;
  cursor: pointer;
  transition: 1000ms;
}

#winner-is {
  padding-left: 14rem;
  padding-top: 2rem;
}

.players-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}